ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}
    
/*-------------------------------------*/

.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}

#concert {
  background-color: #eeeeee;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

#concert-main {
  background-color: #eeeeee;
  float: left;
  width: 70%; 
}

#concert-image {
  background-color: #eeeeee;
  width: 30%; 
  float: right;
}

#concert-body {
  background-color: white;
}