ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}
    
/*-------------------------------------*/

.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}

.container {
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;

}

.containerLeft {
    float: left;
    width: 70%;
    background-color: white;
    padding-left: 0
}

.containerRight {
    float: right;
    margin: 0 0 0 0;
    width: 30%;
    background: white;
    padding-right: 0
}

#concert-body {
    margin-left: 30px;
    margin-right: 30px;
}